@model IEnumerable<ClassLibrary.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-controller="PriorityQueue" asp-action="Peek" method="post" enctype="multipart/form-data">
    <button class="btn-light btn-outline-info" value="buttonClick">Current patient</button>
</form><br />

 


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model != null)
           {
                @foreach (var item in Model)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Names)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastNames)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Specialization)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryMethod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                    </tr>
                 }
           }}
    </tbody>
</table>
